/* Faire une sélection de police */


body
{
    margin: 0px;
    padding:  0px;
}

/* Barre de navigation */
nav
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top: 0;
    background-color: black;
    height: 50px;
}

nav .onglets /* Alignement des onglets */
{
    display:  flex;
    flex-wrap: wrap;
}

nav .onglets input
{
    background-color: #edeff0;
    margin:  8px 20px;
    padding:  10px;
    border: none;
    outline:  none;
    border-radius: 35px;
}

nav .onglets p
{
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
    color: white;
}

nav .onglets p:hover
{
    text-decoration: underline;
}

nav img
{
    max-width: 50px;
    max-height: 50px;
    cursor: pointer;
}
/* Fin barre navigation */

/*Header */
header
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1
{
    font-size: 46px;
    max-width: 475px;
    text-align: center;
}

button{
  padding: 15px 20px;
  font-size: 20px;
  border:none;
  border-radius: 5px;
  outline:none;
  cursor:pointer;
  background-color: #edeff0
}

/* Section principale */
.main
{
    margin-top: 80px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Les 3 images centrales */
.images
{
    display: flex;
    flex-wrap: wrap;
}

.images .image
{
    margin-right: 25px;
    cursor: pointer;
}

.images .image img
{
    width: 350px;
}

.images .image .image_header
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.images .image .description_article p
{
    margin-top: -10px;
}
/* Fin des 3 images */

/* Vidéo */
.video
{
    margin-top: 60px;
    width: 90%;
}

.video iframe
{
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 300px;
}
/* Fin vidéo */
/* Fin section principale */

/* Footer */
footer
{
    margin-top: 100px;
    padding:30px;
    background-color: black;
    color: white;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

footer .reseaux
{
    display:flex;
}

footer .reseaux p
{
    margin-right:20px;
    cursor: pointer;
}
/* Fin footer */

@media screen and (max-width: 640px)
{

      header h1
    {   
        font-size: 30px;
        max-width: 250px;
    }

    header button
    {
        font-size: 15px;
        padding:  10px 15px;
    }

    nav
    {
        height: 10%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    nav .onglets .link
    {
        display:none;
    }

    nav .onglets p
    {
        font-size: 17px;
    }

    .images .image img{
        width: 100%;
    }
}