body
{
    margin: 0px;
    padding:  0px;
}

/* Barre de navigation */
nav
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top: 0;
    background-color: black;
    height: 50px;
}

nav .onglets /* Alignement des onglets */
{
    display:  flex;
    flex-wrap: wrap;
}

nav .onglets input
{
    background-color: #edeff0;
    margin:  8px 20px;
    padding:  10px;
    border: none;
    outline:  none;
    border-radius: 35px;
}

nav .onglets p
{
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
    color: white;
}

nav .onglets p:hover
{
    text-decoration: underline;
}

nav img
{
    max-width: 50px;
    max-height: 50px;
    cursor: pointer;
}
/* Fin barre navigation */


/* Section principale */
.main
{
    margin-top: 200px;
    margin: 10px;
    display: flex;
    justify-content: left;
    align-items: left;
}

.desc{
    justify-content: center;
    margin-right: 200px;
    margin-left: 200px;
    text-align: justify;
}

.desc p
{
    font-size: 17px;
    color: grey;
    text-align: justify;
}
.desc h1{
    font-size: 40px;
    color:black;
    text-align: left;
    text-decoration: underline;
}

.desc h2{
    font-size: 20px;
    text-align: justify;
    text-decoration: underline;
}

/* Les 3 images centrales */
.images
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 30px;
}

.images .image
{
    margin-right: 25px;
    margin-bottom: 10px;
    margin-left: 200px;
    float: right;
}

.images .image img
{
    width: 300px;
}


/* Fin des 3 images */
button{
  padding: 15px 20px;
  font-size: 20px;
  border:none;
  border-radius: 5px;
  outline:none;
  cursor:pointer;
  background-color: #edeff0;
  margin-top: 25px;
  text-align: center;
}


/* Fin section principale */


/* Footer */
footer
{
    margin-top: 100px;
    padding:30px;
    background-color: black;
    color: white;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

footer .reseaux
{
    display:flex;
}

footer .reseaux p
{
    margin-right:20px;
    cursor: pointer;
}
/* Fin footer */

@media screen and (max-width: 640px)
{

    nav
    {
        height: 10%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    nav .onglets .link
    {
        display:none;
    }

    nav .onglets p
    {
        font-size: 17px;
    }

    .main
    {
        display: block;
        width: 100%;
        margin: 0 0 0 -190px;
    }

   .desc
   {
    width: 90%;
   }
}